{% extends 'admin/base.html.twig' %}

{% block title %}Modification de mon compte{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1 class="text-center">Modifier mon compte</h1>

        {{ include('admin/user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a class="btn btn-outline-primary" href="{{ path('user_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
