{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="accueil" class="d-flex flex-column justify-content-center">
        <div class=" container-fluid home-container d-flex flex-column justify-content-center align-items-center">

            <div class="d-flex flex-column text-white mx-auto border-start border-5 transition-fade delay1">
                <h1 class="ms-3 fs-3 fw-normal w-auto
                    transition-translate-left delay2">Bonjour, je suis {{ user.firstname }} {{ user.lastname }} </h1>
                <h2 class="ms-3 fs-3 fw-normal  w-auto
                           transition-translate-left delay3">Développeur web</h2>
                <p class="ms-3 mb-0 fs-3 fw-normal w-auto
                          transition-translate-left delay4">Je vous souhaite la bienvenue sur mon Portefolio.</p>
            </div>
            <a class="fs-3 mt-3 text-primary fw-bold btn-home text-decoration-none transition-translate-right"
               href="{{ path('profil') }}">Qui suis-je ?</a>
        </div>
    </section>
{% endblock %}
