{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
    <div class="container">
{#        <a href=""><img src="{{ asset('build/images/') }}" alt="" class="img-prez"></a>#}
        <div class="h-100 w-100 d-flex flex-column justify-content-around">
            <h1 class="text-center">{{ user.lastname }} {{ user.firstname }}</h1>
            <h2 class="text-center">Développeur web junior</h2>
            <a href="" class="btn btn-outline-primary m-auto">Qui suis-je ?</a>
        </div>

    </div>
{% endblock %}
