{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle Techno{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Techno</h1>

    {{ include('admin/techno/_form.html.twig') }}

    <a href="{{ path('techno_index') }}">Retour à la liste</a>
{% endblock %}
