{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <h1>Créer un nouveau Projet</h1>

    {{ include('admin/projet/_form.html.twig') }}

    <a href="{{ path('projet_index') }}">Retour à la liste</a>
{% endblock %}
