{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <section class="container-fluid profil-section h-100 pb-5">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center mt-5 transition-fade delay3">
                <h2 class="border-bottom border-light border-2 pb-3 mb-5 text-light">PROFIL</h2>
            </div>

            <div class="col-12 col-md-6 box-profil d-flex flex-column justify-content-around align-items-center
                        transition-fade delay1">
                <img class="img-profil " src="{{ asset('build/images/Profil.png') }}"
                     alt="{{ user.firstname }} {{ user.lastname }}">
                <a class="btn-main btn-ghost rounded-3 my-5 text-decoration-none shadow"
                   href="{{ path( 'download' ) }}" target="_blank">
                    <i class="bi bi-download"></i> Mon CV</a>
            </div>
            <div class="col-12 col-md-6 d-flex flex-row justify-content-center justify-content-md-start
                        align-items-center transition-fade delay1">
                <p class="w-75 my-auto text-light fs-5">Passionné par la réalisation et la création de site web,
                    je me suis donc lancé dans le développement.
                    Fort de mes expériences passées, je suis une personne très investie dans le travail
                    et je prends grand plaisir à l’exercer, le travail en équipe
                    et la gestion du stress font partie de mes points forts.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
