.box-skills{
  .img-tech{
    width: 30px;
    height: 30px;
    filter: drop-shadow(4px 4px 0.1rem #3b3b3b);
  }
}
.box-progress {

}
.animation-progress-bar{
  animation: progress-bar 1.8s;
  animation-delay: .4s;
}

@keyframes progress-bar {
  0%{
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{

  }
}