.box-contact{
  .me-box{
    margin-right: 8rem;
  }
  .container-fluide{
    form .form-box > div{
      width: 100%;
    }
  }
}

.btn-main-contact {
  @include reflectiveButton($light, $primary, $light);
}

.btn-ghost-contact {
  color:  $dark;
  transition: .5s;
}

@media screen and (max-width: 990px){
  .box-contact{
    .me-box{
      margin: 0 .8rem 0 .8rem;
    }
  }
}