.box-contact{
  height: 100vh;
  padding-top: 6rem;
  .me-box{
    margin-right: 8rem;
  }
  background-image: url("/assets/images/contact.png");
  background-size: cover;
  .container-fluide{
    form .form-box > div{
      width: 100%;
    }
  }
}

@media screen and (max-width: 990px){
  .box-contact{
    .me-box{
      margin-right: .8rem;
    }
  }
}