.btn-main-contact {
  @include reflectiveButton($light, $primary, $light, $dark);
}

.error-message {
  background: #f68585;
  color: $danger;
  font-weight: bolder;
}

@media screen and (max-width: 990px){
  .box-contact{
    .me-box{
      margin: 0 .8rem 0 .8rem;
    }
  }
}