footer{
  box-shadow: 0 -5px 8px grey;
  opacity: 95%;
  .img-footer{
    height: 40px;
    width: 40px;
    filter: drop-shadow(0 0 .5rem $light);
    &:hover{
      filter: drop-shadow(0 0 .5rem $primary);
    }
  }
}
