#accueil{
  height: 78vh;
  .home-container{
    filter: drop-shadow(2px -1px 6px black);
    .btn-home{
      animation: home-animate 3s infinite;
    }
  }
}

@keyframes home-animate {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 0;
  }
}


