.navbar {
  .img-logo{
    border-radius: 10px;
    height: 70px;
    width: 200px;
    margin-left: 2rem;
  }
  ul{
    li {
      i {
        display: none;
      }
      .nav-link{
        position: relative;
        font-family: 'Yeseva One', cursive;
        &::before, &::after{
          content: "";
          position: absolute;
          background-color: $primary !important;
          width: 0;
          transition: .4s;
        }
        &::before{
          height: 1px;
          right: 0;
          bottom: -5px;
        }
        &::after{
          height: 3px;
          left: 0;
          bottom: 0;
        }
        &:hover::before{
          width: 100%;
        }
        &:hover::after{
          width: 100%;
        }
      }
      .active{
        color: $light !important;
        &::before{
          width: 100%;
          background-color: $light !important;
        }
        &::after{
          width: 100%;
          background-color: $light !important;
        }
      }
    }
  }
}

@media screen and (max-width: 990px){
  .offcanvas-body{
    background-color: $dark;
    ul{
      padding-left: 8rem;
      li {
        i {
          display: initial;
        }
        .nav-link{
          &::after{
            background-color: initial !important;
          }
          &::before{
            background-color: initial !important;
          }
        }
      }
    }
  }
}

