.profil-section{
  .box-profil{
    position: relative;
    .img-profil{
      width: 200px;
      border-radius: 100%;
      transform: rotate(5deg);
      z-index: 2;
    }
    .btn-main {
      @include reflectiveButton($primary, $dark, $primary);
    }
    .btn-ghost {
      color:  $light;
      transition: .5s;
    }
  }
  .box-profil::before{
    content : '';
    position: absolute;
    top: -13%;
    width: 200px;
    height: 300px;
    border-radius: 100%;
    background-color : $secondary;
    z-index: 1;
    transform: rotate(-55deg);
  }
}

@media screen and (max-width: 515px)  {
  .profil-section{
    background: linear-gradient($dark, #9198e5, $dark);
  }
}