.box-project{
  .card-height{
    height: 300px;
  }
  .card {
    img {
      transition: .3s;
    }
    &:hover{
      img{
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.project-show{
  .tech-shadow {
    filter: drop-shadow(0 0 $dark);
    .img-techno{
      height: 50px;
      width: 50px;
    }
  }
}