.profil-section{
  .box-profil{
    position: relative;
    .img-profil{
      width: 200px;
      border-radius: 100%;
      margin-top: 0.5rem;
    }
  }
  .btn-main {
    @include reflectiveButton($light, $primary, $light, $dark);
    box-shadow: 0 0 10px $dark;
    &:hover {
      box-shadow: 0 0 10px $light;
    }
  }
  .box-profil::before{
    content : '';
    position: absolute;
    top: -14%;
    left: -5%;
    width: 224px;
    height: 300px;
    border-radius: 100%;
    background-color : $secondary;
    z-index: -1;
    transform: rotate(-55deg);
  }
}